<div *ngIf="house">
  <!-- <h2>{{house.id}}</h2> -->
  <h2>{{house.number}}</h2>
  <div>
    Number:
      <input [(ngModel)]="house.number" placeholder="Number"/>
  </div>
  <div>
    Street:
    <input [(ngModel)]="house.street" placeholder="Street" />
  </div>
  <div>
    City:
    <input [(ngModel)]="house.city" placeholder="City" />
  </div>
  <div>
    Country:
    <input [(ngModel)]="house.country" placeholder="Country" />
  </div>
  <div>
    Postcode:
    <input [(ngModel)]="house.postcode" placeholder="Postcode" />
  </div>
  <span style="display: flex; justify-content: space-between">
  <button type="button" class="btn btn-primary" (click)="updateHouse(house)" *ngIf="house.id">Save changes</button>
  <button type="button" class="btn btn-outline-success" (click)="createHouse(house)" *ngIf="!house.id">Create</button>
  <dialog #deleteButton>
    <div>
      Are you sure you want to delete house {{house.id}}
    </div>
    <span style="display: flex; justify-content: space-between">
      <button (click)="deleteButton.close()" class="btn btn-success">
        CANCEL
      </button>
      <button (click)="deleteHouse(house)" *ngIf="house.id" (click)="deleteButton.close()"
        class="btn btn-danger">Delete</button>
    </span>
  
  </dialog>
  <button (click)="deleteButton.show()" class="btn btn-warning" *ngIf="house.id">Del House</button>
  </span>
  
</div>