<div *ngIf="house">
  <!-- <h2>{{house.id}}</h2> -->
  <h2>{{house.number}}</h2>
  <div>
    Number:
      <input [(ngModel)]="house.number" placeholder="Number"/>
  </div>
  <div>
    Street:
    <input [(ngModel)]="house.street" placeholder="Street" />
  </div>
  <div>
    City:
    <input [(ngModel)]="house.city" placeholder="City" />
  </div>
  <div>
    Country:
    <input [(ngModel)]="house.country" placeholder="Country" />
  </div>
  <div>
    Postcode:
    <input [(ngModel)]="house.postcode" placeholder="Postcode" />
  </div>
  <button (click)="updateHouse(house)" *ngIf="house.id">Save</button>
  <button (click)="deleteHouse(house)" *ngIf="house.id">Delete</button>
  <button (click)="createHouse(house)" *ngIf="!house.id">Create</button>
</div>