<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">THE APARTMENT</th>
      <th scope="col">EDIT</th>
      <!-- <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Postcode</th>
        <th scope="col">____</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
<div class="card mb-3" style="max-width: 540px;" *ngIf="oneApartment | async as apartment">
  <style>
    hr.rounded {
      border-top: 8px solid #918a8a;
      border-radius: 5px;
    }
  </style>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://fastly.picsum.photos/id/42/300/200.jpg?hmac=y6dQJIPB8Wbe_CL1ELgBFAfR193MTSY5pujsizf1-ow"
        class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <button (click)="editApartment(apartment)" type="button" class="btn btn-primary">Edit Apartment</button>
        <p class="card-text">ID:</p>
        <h5 class="card-title">{{apartment.id}}</h5>
        <hr class="rounded">
        <p class="card-text">Number:</p>
        <h5 class="card-title">{{apartment.number}}</h5>
        <hr class="dotted">
        <p class="card-text">Floor:</p>
        <h5 class="card-title">{{apartment.floor}}</h5>
        <hr class="dotted">
        <p class="card-text">Number Of Rooms:</p>
        <h5 class="card-title">{{apartment.numberOfRooms}}</h5>
        <hr class="dotted">
        <p class="card-text">Population:</p>
        <h5 class="card-title">{{apartment.population}}</h5>
        <hr class="dotted">
        <p class="card-text">Living Space:</p>
        <h5 class="card-title">{{apartment.livingSpace}}</h5>
        <hr class="rounded">
        <!-- <p class="card-text">Full Area:</p>
        <h5 class="card-title">{{apartment.fullArea}}</h5>
        <hr class="rounded"> -->
        <p class="card-text">List of inhabitants!</p>
        <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
      </td>
      <td>Click 'Edit Apartment' to edit House
        <app-edit-apartment [apartment]="apartmentToEdit" (apartmentUpdated)="updateOneApartment($event)"></app-edit-apartment>
      </td>
      <!-- <td>{{ house.country }}</td>
        <td>{{ house.postcode }}</td> -->
    </tr>
  </tbody>
</table>
<!-- Inhabitants -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th> <!--INDEX-->      
      <th scope="col">Backend ID</th>
      <th scope="col">Name</th>
      <th scope="col">Lastname</th>
      <th scope="col">Personal Code</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Phone Nr</th>
      <th scope="col">Email</th>
      <th scope="col">Id Of Apartment</th>
      <th scope="col">Is Owner</th>
      <th>TEST</th>
      <th scope="col">Modular Window button !</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inhabitant of inhabitantDTOsByApartmentId; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ inhabitant.id}}</td>
      <td>{{ inhabitant.name}}</td>
      <td>{{ inhabitant.lastname }}</td>
      <td>{{ inhabitant.personalCode }}</td>
      <td>{{ inhabitant.dateOfBirth }}</td>
      <td>{{ inhabitant.phone }}</td>
      <td>{{ inhabitant.email }}</td>
      <td>{{ inhabitant.idOfApartment }}</td>
      <td>{{ inhabitant.isOwner }}</td>
      <td>
        <button (click)="editInhabitant(inhabitant)" type="button" class="btn btn-primary">Edit Apartment</button>
        <app-edit-inhabitant [inhabitant]="inhabitantToEdit" (inhabitantUpdated)="updateOneInhabitant($event)"></app-edit-inhabitant>
      </td>
      <td>
        <dialog #deleteButton>
            <div>
              Are you sure you want to delete apartment {{inhabitant.id}}
            </div>
            <span style="display: flex; justify-content: space-between">
              <button (click)="deleteButton.close()" class="btn btn-success">
                CANCEL
              </button>
              <!-- CLOSE BUTTON -->
              <button (click)="test()" *ngIf="inhabitant.id" (click)="deleteButton.close()"
                class="btn btn-danger">Delete</button>
            </span>
          
          </dialog>
          <button (click)="deleteButton.show()" class="btn btn-warning">Del Apartment</button>
        
      </td>
      <!-- <td><ngbd-modal></ngbd-modal></td> -->
      <!-- <td><button [routerLink]="['/apartment',inhabitant.id]">Go to inhabitant {{inhabitant.id}} page</button></td> -->
    </tr>
  </tbody>
</table>